<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Cinéma Bonne Garde
      {% endblock %}
    </title>

    <!-- CSS -->
    {% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div id="header" class="jumbotron">
        <h1>Cinéma Bonne Garde</h1>
      </div>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          Connecté en tant que {{ app.user.username }}
          -
          <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        {% else %}
          <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        {% endif %}

      <div class="row">
        <div id="menu" class="col-md-3">
          <h3>Les annonces</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('oc_platform_home') }}">Accueil</a></li>
            <li><a href="{{ path('oc_platform_add') }}">Ajouter un film</a></li>
          </ul>

          <h4>Derniers films</h4>
          {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
        </div>
        <div id="content" class="col-md-9">
          {% block body %}
          {% endblock %}
        </div>
      </div>

      <hr>

      <footer>
        <p>Cinéma Bonne Garde © {{ 'now'|date('Y') }}.</p>
      </footer>
    </div>

    <!-- Javascript -->
    {% javascripts filter='jsqueeze' %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
      <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
    {% endjavascripts %}
  </body>
</html>
