<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Cinéma Bonne Garde - Cinéma associatif à Nantes, Films Art et Essai
      {% endblock %}
    </title>

    <!-- CSS Vendor-->
    {% block stylesheets %}
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock %}

    {% stylesheets 'bundles/bgcinema/css/main.css' %}
      <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
  </head>

  <body>
    {% block body %}
    <div id="top-header">

      {% image '@BGCinemaBundle/Resources/public/img/logo.png' %}
        <img src="{{ asset_url }}" alt="Logo du cinéma">
      {% endimage %}

      <nav id="menu-top">

        <a class="navicons" href="{{ path('bg_cinema_home') }}"><i class="fas fa-home"></i> Accueil </a>

        <a class="navicons" href="{{ path('bg_cinema_home') }}"><i class="far fa-calendar-alt"></i> Programme</a>
        <a class="navicons" href="{{ path('bg_cinema_home') }}"><i class="fas fa-bullhorn"></i> Évenements</a>
        <a class="navicons" href="{{ path('bg_cinema_home') }}"><i class="fas fa-child"></i> Jeune Public</a>
        <a class="navicons" href="{{ path('bg_cinema_pratique') }}"><i class="fas fa-car"></i> Pratique</a>
        <a class="navicons" href="{{ path('bg_cinema_apropos') }}"><i class="fas fa-info-circle"></i> A propos</a>
      </nav>
    </div>

    <a href="{{ path('bg_cinema_home') }}">
      <header>
          <h1>
            <span class="blue">Cinéma</span>
            <span>Bonne</span>
            <span>Garde</span>
          </h1>

          <p>Cinéma associatif à Nantes, films art et essai</p>

        {% block h2 %}
        {% endblock %}
      </header>
    </a>

      <main>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('bg_cinema_add') }}"><i class="far fa-plus-square"></i> Ajouter un film</a>
        {% endif %}


        {% block bgcinema_body %}
        {% endblock bgcinema_body %}

        </main>

        <hr>

        <footer>
          <section class="liens">
            <div class="footer1">
              {% image '@BGCinemaBundle/Resources/public/img/Devanture.jpg' %}
                <img src="{{ asset_url }}" alt="Entrée du cinéma">
              {% endimage %}
              <p>20 Rue Frère Louis</p>
              <p>44200 Nantes</p>
              <p>02.51.90.37.21</p>
              {% image '@BGCinemaBundle/Resources/public/img/acces.jpg' %}
                <img src="{{ asset_url }}" alt="Accessibilité handicapés et parking">
              {% endimage %}
            </div>

            <div class="footer2">
              <h4>LIENS UTILES</h4>
              <a href="http://www.cinemalebonnegarde.com/programmation/">Programmation</a>
              <a href="https://www.facebook.com/cinema.bonnegarde/?fref=ts">Retrouvez le cinéma sur Facebook</a>
              <a href="http://www.ascbg.org/">L’ASC Bonne-Garde</a>
              <a href="http://www.cinemalebonnegarde.com/wp-content/uploads/2016/10/R%C3%A8glement-Jeu-concours-Facebook-Cin%C3%A9ma-Bonne-Garde.pdf">Règlement jeu concours Facebook</a>
            </div>

            <div class="footer3">
              <h4>EVENEMENTS</h4>
              <a href="{{ path('bg_cinema_debats') }}">Ciné-débats</a>
              <a href="{{ path('bg_cinema_americain') }}">Cycle Américain</a>
              <a href="{{ path('bg_cinema_evenements') }}">Autres évenements</a>
              <a href="{{ path('bg_cinema_jeunepublic') }}">Jeune public</a>
              <a href="http://www.cinemalebonnegarde.com/?page_id=5966">Séances sourds et malentendants</a>
            </div>

            <div class="footer4">
              <h4>LETTRE D'INFORMATIONS</h4>
              <p>Lorem ipsum dolor sit amet, tempore blanditiis. Vitae quo animi, ullam, maxime odit magnam. Fuga sequi, ipsa necessitatibus dolore a? Sequi, quod.</p>
              <p>Lorem ipsum dolor sit amet, tempore blanditiis. Vitae quo animi, ullam, maxime odit magnam. Fuga sequi, ipsa necessitatibus dolore a? Sequi, quod.</p>
              <p>Truc pour s'abonner</p>
            </div>
          </section>
          <hr>
          <p>Cinéma Bonne Garde © {{ 'now'|date('Y') }}.</p>
        </footer>

      <!-- Javascript -->
      {% javascripts filter='jsqueeze' %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>
      {% endjavascripts %}
    {% endblock %}
  </body>
</html>
